#!/bin/bash
source ./.env

if [ -n "${PYTHONPATH}" ] ; then
  export OLD_PYTHONPATH="${PYTHONPATH}"
  PYTHONPATH="/python/Advent-of-Code/Advent-of-Code-Runner:/python/Advent-of-Code/Advent-of-Code-Runner/src:/python/Advent-of-Code/Advent-of-Code/tests:${OLD_PYTHONPATH}"
else
  PYTHONPATH="/python/Advent-of-Code/Advent-of-Code-Runner:/python/Advent-of-Code/Advent-of-Code-Runner/src:/python/Advent-of-Code/Advent-of-Code/tests"
fi
export PYTHONPATH

